[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-api-python-client = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"
chuck_pyutils = {git = "https://github.com/ChuckWoodraska/ChuckPyUtils.git", editable = true}

[requires]
python_version = "3.6"
